:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  color: var(--text-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--text-color);
}

.btn-branding {
  background-color: var(--branding-color);
  color: #fff;
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}

.project-description {
  padding: 120px 60px;
}

/* About page */

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.logo {
  font-size: 1.2em;
  background: linear-gradient(
    112.1deg,
    var(--text-color) 11.4%,
    var(--branding-color) 70.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em;
  border: 3px solid transparent;
  border-image: linear-gradient(
    112.1deg,
    var(--text-color) 11.4%,
    var(--branding-color) 70.2%
  );
  border-image-slice: 1;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

/* Footer */

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--branding-color);
  background: var(--secondary-color);
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }

  .content h1 {
    font-size: 44px;
    line-height: 55px;
  }

  footer h3 {
    font-size: 38px;
  }
}
